@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: aquamarine;
    min-height: 100vh;
    border: black solid 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.heading{
    display: flex;
}
.name{
    margin: auto;
}

.image{
    width: 200px;
    border: 0px solid black;
    border-radius: 100%;
    margin: auto;
    left: 390px;
    margin-right: -90px;
    margin-top: 20px;
}
.content{
    padding-top: 40px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 40px;
}