body{background-color: #BDF2D5;}
#img{border-radius: 100%;}
#name{font-size: 40px;}
#name_detail{font-size: 20px;}
hr{ border-style: dotted none none; border-width: 5px; color: #8CC0DE; width: 50%;}
h1,h2,h3,h4,h5,h6{color: #3BACB6;}

